:root{
    --header: violet;
}
* {
    box-sizing: border-box;
    color: white;
}

.header{
    text-align: center;
    font-family: sans-serif;
}


h1{
    color: var(--header);
}

.headerp{
    font-size: 12px;
}

body{
    background-color: rgb(32, 29, 40);
}

.card{
    margin: 25px;
    border-style: dashed;
    text-align: center;
    border-width: 2px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

h2{
    color: var(--header);
    font-family: sans-serif;
    border-style: solid;
    border-radius: 10px;
    position: relative;
    margin: auto;
    margin-top: -17px;
    border-color: white;
    border-width: 1px;
    width: 90%;
    background-color: rgb(32, 29, 40);
}

h2:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.column {
    display: flex;
    flex-direction: column;
}
.code{
    background-image: linear-gradient(
     rgba(232, 102, 236, 0.3) 0%,
     rgba(232, 102, 236, 0.6) 100%
    );
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer{
    text-align: center;
    font-family: sans-serif;
}

@media screen and (max-width: 992px){
    .card {
        display: grid;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
    main {
        flex-direction: column;
        width: 100%;
    }
}   